.create-page{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokemon-form{
    border: 3px solid black;
    padding: 20px;
    width: 35%;

}

.form-row{
    margin-bottom: 16px;
}

label{
    margin: 5px;
}

.drawing {
    border: 1px solid black;
}